annotated-types==0.7.0
anyio==4.9.0
asgiref==3.8.1
blinker==1.9.0
Brotli==1.1.0
cart==1.2.3
certifi==2025.1.31
cffi==1.17.1
click==8.1.8
colorama==0.4.6
cssselect2==0.8.0
distlib==0.3.9
dj-database-url==2.3.0
Django==5.1.7
django-heroku==0.3.1
django-shopping-cart==0.1
fastapi==0.115.12
filelock==3.18.0
Flask==3.1.0
flask-cors==5.0.1
Flask-Login==0.6.3
Flask-Mail==0.10.0
Flask-WTF==1.2.2
fonttools==4.57.0
gunicorn==23.0.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
packaging==24.2
pdfkit==1.0.0
pillow==11.1.0
pipenv==2024.4.1
platformdirs==4.3.7
psycopg2==2.9.10
pycparser==2.22
pycryptodome==3.22.0
pydantic==2.11.4
pydantic_core==2.33.2
pydyf==0.11.0
pyphen==0.17.2
setuptools==78.1.0
sniffio==1.3.1
sqlparse==0.5.3
starlette==0.46.2
tinycss2==1.4.0
tinyhtml5==2.0.0
typing-inspection==0.4.0
typing_extensions==4.12.2
tzdata==2025.1
virtualenv==20.30.0
weasyprint==65.1
webencodings==0.5.1
Werkzeug==3.1.3
whitenoise==6.9.0
WTForms==3.2.1
zopfli==0.2.3.post1
